body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.value {
  font-size: 60px;
  margin-bottom: 50px;
  align: center;
}

.value-subtitle {
  font-size: 14px;
  margin-bottom: 50px;
  align: center;
}

.badge {
  display: inline-block;
  padding: 5px 10px;
  background-color: yellow;
  font-size: 14px;
  color: #333;
  border-radius: 15px; /* Adjust the radius as needed for rounded corners */
  margin-right: 10px; /* Adjust as needed for spacing */
}

footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}